﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-scope" content="profile email" />
    <meta name="google-signin-client_id"
          content="801270103255-q0dtf0vs4onst0eatcvvto0o9t6bbuos.apps.googleusercontent.com" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Test Google Login</title>
</head>
<body>
    <div class="row" id="SignInForm">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
        </div>
    </div>
    <div class="row" id="SignOutForm">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="">Sign-In E-mail: <span id="txtName"></span></label>
            </div>
            <div class="form-group row">
                <a href="#" onclick="signOut();">Sign out</a>
            </div>
        </div>
    </div>
    @section scripts
    {
        <script>
            $(function () {
                $('#SignOutForm').hide();
            });

            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();

                console.log('ID: ' + profile.getId());
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());

                // The ID token you need to pass to your backend:
                var id_token = googleUser.getAuthResponse().id_token;
                console.log('ID Token: ' + id_token);
                RefreshData();
                $('#SignInForm').hide();
                $('#SignOutForm').show();
            }
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                    $('#txtName').val('');
                    $('#SignInForm').show();
                    $('#SignOutForm').hide();
                });
            }
            function RefreshData() {
                var auth2 = gapi.auth2.getAuthInstance();
                if (auth2.isSignedIn.get()) {
                    var profile = auth2.currentUser.get().getBasicProfile();
                    $('#txtName').val(profile.getEmail());
                }
            }
        </script>
    }
</body>
</html>